// General styles
body{
	word-wrap: break-word;
	box-sizing: border-box;
}
/* Elements */
h1, h2, h3, h4, h5, h6 {
	clear: both;
}
ul{
	@extend %default-ul;
}
ol{
	@extend %default-ol;
}
ul ul,
ol ol{
	margin-bottom:0;
}
/* End Elements */
